/* Header Styling */
.header {
    display: flex;
    background-color: navy;
    padding: 20px;
    align-items: center;
}
.header ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 20px;
    color: lightgray;
}
.header .logo {
    margin-right: auto;
    color: white;
    font-weight: 700;
    font-size: 20px;
}

/* Box/Section 1 Styling */

.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    padding: 150px;
}

.leftContainer {
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 400px;
    min-width: 200px;
}

.bigText {
    font-size: 32px;
    font-weight: 700px;
    color: white;
}

.smallText {
    font-size: 14px;
    color: lightgray;
}

.signUpButton {
    padding: 10px;
    color: white;
    background-color: lightblue;
    max-width: fit-content;
}

.box1 img {
    width: 400px;
    height: 200px;
}

/* Box/Section 2 Styling */

.box2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    gap: 50px;
}

.box2Title {
    color: navy;
    font-size: 24px;
    font-weight: 700;
}

.cardList {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    max-width: 150px;
    text-align: center;

}

.card img {
    width: 150px;
    height: 150px;
}

/* Box/Section 3 Styling */

.box3 {
    background-color: lightgray;
    padding: 120px;
    padding-left: 20%;
    padding-right: 20%;
}

.quote {
    font-size: 32px;
    color: darkgray;
    font-style: italic;
}

.quoteAuthor {
    text-align: right;
    font-size: 18px;
    color: navy;
    font-weight: 700;
}

/* Box/Section 4 Styling */

.box4 {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 75px;
}

.ctaPopUp {
    display: flex;
    color: white;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.ctaHeader {
    font-weight: 600;
    font-size: 18px;
}

.ctaSubText {
    font-size: 16px;
}

.ctaButton {
    color: white;
    background-color: lightblue;
    border-color: white;
    border-style: solid;
}